[user]
	name = Toshihiko Okubo
	email = toshihiko.okubo@datachain.jp
	signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIP9JbUAAJnUlm4g1faY1a731GR0h5zn6OIqvdAZqEzvz
[color]
    status = auto
    diff = auto
    branch = auto
    interactive = auto
    grep = auto
[core]
    editor = vim
    excludesfile = ~/.gitignore_global
    pager = delta
[pull]
    rebase = true
[interactive]
    diffFilter = delta --color-only
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[gpg]
	format = ssh
[gpg "ssh"]
	program = /opt/1Password/op-ssh-sign
[commit]
	gpgsign = true
[merge]
  conflictstyle = zdiff3
[url "git@github.com:"]
    insteadOf = https://github.com/
[url "ssh://git@github.com/"]
    insteadOf = https://github.com/
[delta]
  navigate = true # use n and N to move between diff sections
  dark = true     # or light = true, or omit for auto-detection
[ghq]
    root = ~/git
[rerere]
    enabled = true
