[Unit]
Description=Restart fcitx5 after suspend
After=suspend.target

[Service]
Type=oneshot
ExecStart=/usr/bin/systemctl --user restart fcitx5.service

[Install]
WantedBy=suspend.target
