[Unit]
Description=Fcitx5 Input Method
After=graphical-session.target
Wants=graphical-session.target

[Service]
Type=simple
ExecStart=/usr/bin/fcitx5 --replace
Restart=on-failure
RestartSec=2

Environment=XMODIFIERS=@im=fcitx
Environment=QT_IM_MODULES=wayland;fcitx

[Install]
WantedBy=default.target
